html {
    font-size: 24px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f2f7f5;
}

.newspaper {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 70%;
    padding: 0 20px;
    border-radius: 10px;
}

.name {
    font-size: 2rem;
    font-family: "Times New Roman", serif;
}

.name,
.author {
    text-transform: uppercase;
}

.name, .date {
    text-align: center;
}

.headline {
    font-size: 2em;
    font-weight: bold;
}

.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
}

.author {
    font-weight: bold;
}

.text {
    text-indent: 20px;
    line-height: 2em;
}

.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}